DB_HOST = 'host'
DB_PORT = 'database_port'
DB_USER = 'database_user'
DB_PASSWORD = 'database_password'
DB_NAME = 'database_name'

WAREHOUSE_DB_HOST = 'localhost'
WAREHOUSE_DB_PORT = '5432'
WAREHOUSE_DB_USER = 'warehouse_user'
WAREHOUSE_DB_PASSWORD = 'warehouse_password'
WAREHOUSE_DB_NAME = 'warehouse_database'

HOST_API = 'localhost'
PORT_API = '8000'

BRONZE_PATH = 'data/bronce/'
SILVER_PATH = 'data/silver/'